name: Linting

on: { push: { branches-ignore: [main, production] } }

jobs:
  linting:
    name: Lint the code
    runs-on: ubuntu-latest
    container: golang:1.20

    steps:
      - name: Check out repository code
        uses: actions/checkout@master

      - name: Check formatting using gofmt
        run: gofmt -s -l -d

      - name: Check for suspicious constructs using "go vet"
        run: go vet ./...

      - name: Lint the code using "golint"
        run: GO111MODULE=off go get -u golang.org/x/lint/golint && go list ./... | grep -v /vendor/ | xargs -L1 golint -set_exit_status

      - name: Run staticcheck
        run: go get -u honnef.co/go/tools/cmd/staticcheck@v0.3.3 && staticcheck ./...
